<div class="container--big-card">

  <div class="big-card--photo">
    <img src="https://www.shutterstock.com/image-vector/ui-image-placeholder-wireframes-apps-260nw-1037719204.jpg" alt="" height="300px">
  </div>

  <div class="big-card--title">
    <h1><a href="">Titulo da Noticia dinamica</a></h1>
  </div>

  <div class="big-card--description">
    <p><a href="">
      Descricao de conteudo bem proximo a realidade estou criando essa descricao para criar varias linhas de texto.
    </a></p>
  </div>
</div>
