<app-menu-title></app-menu-title>
<div class="container--articles">
  <div class="articles-main">
    <app-big-card
    Id="1"
    photoCover="https://www.shutterstock.com/image-vector/ui-image-placeholder-wireframes-apps-260nw-1037719204.jpg"
    cardTitle="Nova descricao Inputada"
    cardDescription="Nova descricao inputada aprendendo angular no bootcamp banco Pan DIO "
    >
  </app-big-card>
  </div>

  <div class="articles-others">
    <app-small-card
    Id="2"
    photoCover="https://www.shutterstock.com/image-vector/ui-image-placeholder-wireframes-apps-260nw-1037719204.jpg"
    cardTitle="Nova Serie Anunciada no Small card com Input"
    >
    </app-small-card>
    <app-small-card
    Id="3"
    photoCover="https://www.shutterstock.com/image-vector/ui-image-placeholder-wireframes-apps-260nw-1037719204.jpg"
    cardTitle="Nova Serie Anunciada no Small card com Input"
    >
    </app-small-card>
    <app-small-card
    Id="4"
    photoCover="https://www.shutterstock.com/image-vector/ui-image-placeholder-wireframes-apps-260nw-1037719204.jpg"
    cardTitle="Nova Serie Anunciada no Small card com Input"
    >
    </app-small-card>

  </div>
</div>
